ChewyLokumTest/Levels/Level.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Sun Oct 26 2014 16:33:00 GMT+0000 (GMT) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="level">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="board">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="width">
                                                   <xs:complexType>
                                                         <xs:attribute name="w" type="xs:int"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="height">
                                                   <xs:complexType>
                                                         <xs:attribute name="h" type="xs:int"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="requiredScore">
                                 <xs:complexType>
                                       <xs:attribute name="score" type="xs:int"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="swapAmount">
                                 <xs:complexType>
                                       <xs:attribute name="swaps" type="xs:int"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="specialSwapAmount">
                                 <xs:complexType>
                                       <xs:attribute name="specialSwaps" type="xs:int"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="level">
                                 <xs:complexType>
                                       <xs:attribute name="levelNumber" type="xs:int"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="time">
                                 <xs:complexType>
                                       <xs:attribute name="t" type="xs:int"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>
 